.carousel-item {
  height: 550px;
}

.carousel-caption {
  padding: 10px;
  background-color: rgba(161, 160, 160, 0.6);
  border-radius: 10px;
  display: inline;
}

.carousel-caption h1 {
  font-size: 50px;
}

a .fas {
  margin-right: 15px;
  color: whitesmoke;
}

a .fas:hover {
  color: hsl(207, 65%, 46%);
  font-size: 30px;
}

.nav-logo {
  height: 40px;
}
.tengah h3 {
  display: inline;
  color: whitesmoke;
  position: relative;
  top: 7px;
}
