.carousel-item {
    height: 550px;
}


.carousel-caption {
    padding: 10px;
    background-color: rgb(243, 239, 239, 0.2);
    border-radius: 10px;
    display: inline;
}

.carousel-caption h1 {
    font-size: 50px;
}

a .fas {
    margin-left: 20px;

}